body{
   margin: 0;
   padding: 0;
   font-family: Calibri;
}
/* NavBar Styling */
.navigationBar{
   position: absolute;
   height: 75px;
   width: 100%;
   left: 0px;
   top: 0px;
   box-shadow: 0px 20px 60px rgba(38, 47, 86, 0.04);
}
.navBarLogo{
   position: absolute;
   left: 1.46%;
   top: 13.33%;
   bottom: 10.67%;
   width:170px;
   height:57px;
}
.navBarMenu{
   position: absolute;
left: 15.67%;
right: 60%;
top: 37.33%;
bottom: 34.67%;
}
.works-purple{

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #644E77;
}
.clients-orange{

   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 21px;
   color: #FB5100;
   position: absolute;
}
.PostAD{
   position: absolute;
left: 63%;
top: 33.33%;
bottom: 30%;
}
.searchVehicle{
   position: absolute;
left: 71%;
top: 33.33%;
bottom: 30%;
}
.signIn{
   position: absolute;
left: 82%;
top: 30.67%;
bottom: 29.33%;
padding-right:7px;
}
.hr{
   position: absolute;
left: 91%;
top: 20.67%;
bottom: 20%;
border-left: 1px solid #D4D0DD;
}
.navBar-btn{
   position: absolute;
left: 92%;
top: 24%;
bottom: 22.67%;
color: white;
background: #FB5100;
border: 1px solid #FB5100;
box-sizing: border-box;
border-radius: 4px;
}
.navBarActionMenu div{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.menuImg{
   margin: 0px 8px;
}

/* landing intro section */
.intro
{
   position: absolute;
   height: 721px;
   left: 0px;
   top: 114px;
}
.landingIntroImg{

width: 600px;
height: 540px;
top: 5px;
position: absolute;
left: 700px;
background: #FFFFFF;
}
.landingtext
{
   position: absolute;
   width: 550px;
height: 176px;
left: 100px;

font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 60px;
letter-spacing: -0.03em;
color: #53356F;
}
.intro-amount
{
   position: absolute;
width: 500px;
height: 93px;
left: 100px;
top:155px;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
color: #000000;
}
.intro-method
{
   top:250px;
   position: absolute;
width: 400px;
height: 88px;
left: 100px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
color: #8D97A7;
}
.landig-start-btn,.table-start-btn
{
   position: absolute;
   width: 220px;
   height: 65px;
   background-color: #41B9E6;
   border: none;
   color: white;
   border-radius: 6px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.landig-start-btn{
   left: 100px;
   top: 355px;
}
.FairStoneLogo{
   position: absolute;
width: 251px;
height: 84px;
left: 100px;
top: 435px;
}

/* phone section styling */
.phoneSection{
   position: absolute;
top: 720px;
height: 840px;
width: 100%;
background: #FDFDFD;
}
.landing-phone
{
   position: absolute;
width: 630px;
height: 670px;
left: 80px;
top:100px;
}
.phonesubsection
{
   position: absolute;
   left: 710px;
top:100px;
}
.phoneHeadText{
   position: absolute;
width: 400px;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 46px;
letter-spacing: -0.03em;

color: #53356F;
}
.phonesection-detail{
   position: absolute;
width: 550px;
height: 203px;
top: 100px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 184.1%;
letter-spacing: -0.03em;
color: #1B2D49;
}

.loan{
   position: absolute;
   width: 278px;
   height: 275px;
   top:260px;
   background: #FDFDFD;
   border: 3px solid #41B9E6;
   border-radius: 8px;
}
.loanTypes .secured{
left:302px;
}
.loanBoldText,.details{
   position: absolute;
   font-style: normal;
   left: 35px;
   font-weight: 700;
   font-size: 20px;
   letter-spacing: -0.03em;
   color: #3F2355;
   margin: 0;
}
.loanBoldText{
   top: 5%;
}
.details{
   top:60%;
}
.arrowflex{
   position: absolute;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   left: 35px;
   top: 12%;
}
.loan-desc,li{
   position: absolute;
width: 220px;


left: 35px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.03em;
color: #1B2D49;
}
.loan-desc{
   top: 25%;
   margin-block:20px;
}
.detail-list li{
   top: 63%;
   left: 60px;
}
.list1-item1{
   padding-top: 20px;
}
.list1-item2{
   padding-top: 35px;
}
.list1-item3{
   padding-top: 50px;
}
.phone-start-btn{
   left: 0px;
   top:563px;
}
/* section 3 */
.loanUses{
   position: absolute;
   top: 1570px;
   margin-bottom: 4%;
}
.useSectionRow
{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.useSectionHeading
{
   position: absolute;
   width: 785px;
   left: 367px;
   font-style: normal;
   font-weight: 900;
   font-size: 30px;
   line-height: 46px;
   letter-spacing: -0.03em;
   color: #53356F;
}
.useSection
{
   margin-right:35px;
   margin-bottom: 30px;
   min-width: 300px;
   height: 257px;
   padding:  30px;
   background: #FFFFFF;
   border: 1px solid #EDEDED;
   box-sizing: border-box;
   box-shadow: 0px 0px 18px rgba(108, 126, 147, 0.15);
   border-radius: 8px;
}
.useHeading
{
   max-width: 159px;
   max-height: 50px;
   padding-block: 5px;
   font-family: 'Basis Grotesque Pro';
   font-style: normal;
   font-weight: 900;
   font-size: 17px;
   line-height: 23px;
   letter-spacing: -0.03em;
   color: #3F2A56;
}
.useText
{
   width: 198px;
   height: 43px;
   font-family: 'Basis Grotesque Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: -0.03em;
   color: #5A687C;
}
.uses{
   padding-left: 195px;
   padding-bottom: 60px;
   padding-top: 150px;
}
/* section 4  */
.descSection{
   position: absolute;
   width: 900px;
   height: 700px;
   background: #F5F5F5;
   top:2400px;
}
.descSectionPic{
   position: absolute;
   height: 723px;
   width: 49.9%;
   left: 900px;
   top:0px;
}
.descSectionText
{
   background: #F5F5F5;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 65px;
}
.descDetailHeading
{
   font-family: 'Basis Grotesque Pro';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   max-width: 360px;
   line-height: 46px;
   letter-spacing: -0.03em;
   color: #53356F;
   margin: 5px;
}
.stepNum
{
   color: #3F2A56;
   background-color: white;
   border-radius: 50%;
   padding: 11px;
   height: 20px;
   width: 20px;
   margin-top: 30px;
   margin-right: 10px;
   font-weight: bolder;
   text-align: center;
}
.stepHeading{
   font-family: 'Basis Grotesque Pro';
   font-style: normal;
   font-weight: 900;
   font-size: 20px;
   line-height: 31px;
   letter-spacing: -0.03em;
   max-width: 400px;
   color: #3F2355;
   margin-bottom: 0;
}
.stepIdentity
{
   display: flex;
   flex-direction: row;
}
.stepDesc
{
   font-size: 16px;
   line-height: 150.1%;
   letter-spacing: -0.03em;
   color: #1B2D49;
   max-width: 283px;
   margin: 0;
}
.desc-btn{
   left: 118px;
    top: 560px;
}
.methodStep{
min-height: 120px;
}
/* loan plans section */
.plans{
   position: absolute;
   top:3080px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   padding-bottom: 100px;
   width: 100%;
}
.plancontent
{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.planHeading
{
   text-align: center;
   font-family: 'Basis Grotesque Pro';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 46px;
   letter-spacing: -0.03em;
   color: #53356F;
   max-width: 570px;
}
.plans th{
   font-family: 'Basis Grotesque Pro';
   font-style: normal;
   font-weight: 900;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: -0.03em;
   color: #FFFFFF;
   padding: 7px 45px;
}
.dark-purple-Head{
   background-color: #38244C;
   text-align: left;
}
.light-purple-Head{
   background: #8D7A9E;
   text-align: left;
}
.light-gray-Head{
   background: #EFEFEF;
   color: #5B5B5B !important;
   text-align: right;
}
.th-text{
   max-width: 150px;
   margin-block: 0;
}
.plans tbody td{
   text-align: left;
   padding: 15px 50px;
}
.td-text{
   max-width: 200px;
   margin: 0;
}
.plans tr:nth-child(2n) td
{
   background: #EFEFEF;
}
.plans tr td:nth-child(1){
   text-align: right;
}
.th-right{
   max-width: none;
}
.lastrow{
   background-color: white !important;
}
.logo-fairstone{
   padding: 0% !important;
}
.table-start-btn{
   margin-left: 81px;
}
.copyright-text{
left: 342px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.03em;
color: #060606;
opacity: 0.75;
}

/* footer */
.footer{
   position: absolute;
   top: 4130px;
   width: 100%;
}
.getFinancing{
   position: absolute;
   max-width: 47%;
   background: #F8F8FA;
   padding-top: 25px;
   padding-left: 40px;
   padding-bottom: 100px;
   }
   .summary{
   position: absolute;
   max-width: 50%;
   left: 50%;
   background: #FFFFFF;
   }
   .footerHead{
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 130%;
   color: #3F2355;
   max-width: 450px;
   }
   .foot-intro{
      font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 160%;
   letter-spacing: 0.004em;
   color: #828385;
   max-width: 500px;
   }
   .client-orange{
      color: #FB5100;
   }
   .contact{
      display: flex;
      flex-direction: row;
   }
   .contact div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .contact div p {
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 21px;
   padding-right: 20px;
   padding-left: 10px;
   color: #3F2355;
   }
   .contactimg,.connect-icons{
      margin-left: -10%;
   }
   .img-bg{
      background: #D4D0DD;
      padding: 10px;
      border-radius: 100%;
   }
   .phone-bg{
      padding: 7px 12px;
   }
   .contatc-links{
      max-width: 350px;
   }
   .connect-icons{
      margin-block: -6%;
   }
   .summary{
      padding: 30px 70px;
   }
   .foot-intro2{
      font-style: normal;
   font-weight: 400px;
   font-size: 13px;
   line-height: 160%;
   color: #828385;
   }
   .foot-finishline
   {
      font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   letter-spacing: 0.004em;
   color: #828385;
   }
   .foot-copyRight{
      font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   display: flex;
   align-items: center;
   color: #3F2355;
   }
   .footer-table thead td{
      font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 31px;
   color: #3F2355;
   opacity: 1 !important;
   }
   .footer-table td{
      font-style: normal;
   font-weight: 400;
   font-size: 13px;
   padding-left: 20px;
   line-height: 43px;
   color: #131313;
   opacity: 0.6;
   }

   /* RESPONIVENESS QUREIES */

@media (max-width:1200px)
{
.navBarLogo{
   left: 1.46%;
   top: 11%;
}
.navBarMenu{
left: 20%;
right: 40%;
height: 50px;
}
.PostAD{
   left: 50%;
   top: 0%;
   height: 80px;
}
.searchVehicle{
   left: 60%;
   top: 0%;
   height: 80px;
}
.signIn{
   left: 75%;
   top: 0%;
   height: 80px;
}
.hr{

left: 87%;
top: 20%;
height: 45px;
}
.navBar-btn{

left: 89%;
top: 24%;
}
.landingIntroImg
{
   left: 30vw;
   height: 40vw;
   right: 30vw;
   top: 600px;
   width: 40vw;
}
.landingtext,.intro-amount,.intro-method{
   left: 30vw;
   right: 30vw;
   width: 40vw;
}
.landig-start-btn,.FairStoneLogo{
   left: 30vw;
}
.intro-amount{
   top: 130px;
   line-height: 28px;
}
.intro-method{
   top: 240px;
   line-height: 22px;
}
.landingtext
{
   line-height: 45px;
   font-size: 45px;
}
}
@media (max-width:768px)
{
   .navBarLogo
   {
      width: 200px;
      height: 100px;
   }
   .navigationBar{
      height: 105px;
   }
   .navBarMenu
   {
      left: 32%;
      top: 32%;
      right: 10%;
      height: 50px;
      margin-bottom: 80px;
   }
.clients-orange
{
   font-size: 19px
}
.works-purple
{
   font-size: 20px;
   margin-right: 7px;
}
   .PostAD,.searchVehicle,.signIn{
      top: 40%;
      height: 80px;
   }
   .PostAD{
      left: 30%;
   }
   .searchVehicle{
      left: 44%;
   }
   .signIn{
      left: 64%;
   }
   .navBar-btn{

      left: 85%;
      top: 39%;
      }

   .intro-amount{
      top: 170px;
   }
   .intro-method
   {
      top: 320px;
   }
   .landig-start-btn
   {
      top: 420px;
   }
   .FairStoneLogo
   {
      top: 495px;
   }
   .hr
   {
      display: none !important;
   }
}
@media (min-width:300px) and (max-width:480px)
{
   .navigationBar{
      height: 300px;
   }
   .navBarLogo
   {
      left: 20%;
      top: 0%;
   }
   .navBarMenu
   {
      top: 30%;
      right: 2%;
      left: 10%;
   }
   .clients-orange,.works-purple
   {
      font-size: 10px
   }
   .PostAD,.searchVehicle,.signIn{
      left: 27%;
   }
   .works-purple{
      margin-right: 0px;
   }
   .PostAD{
      top: 35%;
   }
   .searchVehicle{
      top: 50%;
   }
   .signIn{
      top:63%;
   }
   .navBar-btn{

      left: 27%;
      top: 84%;
      width: 120px;
      bottom: 4%;
      }
      .landingtext
      {
         top: 190px;
         font-size: 15px;
         line-height: 15px;
         max-width: 150px;
      }
      .intro-amount
      {
         top: 250px;
         font-size: 10px;
         line-height: 12px;
         max-width: 120px;
      }
      .intro-method
      {
         top: 310px;
         font-size: 9px;
         line-height: 12px;
         max-width: 100px;
      }
      .FairStoneLogo,.landig-start-btn
      {
         left: 30vw;
         right: 30vw;
         width: 40vw;
      }
      .landig-start-btn
      {
         height: 40px;
         width: 36vw;
      }
      .fairstone{
         width: 100%;
      }
}
